APP_HOST=0.0.0.0
APP_PORT=8099

SQLITE_PATH=backend/data/family_dashboard.db

HA_URL=http://192.168.50.50:8123
HA_REDEMPTION_WEBHOOK_ID=redemption_notice
HA_NOTIFY_TIMEOUT_SECONDS=20

QUSTODIO_EMAIL=jlindst@gmail.com
QUSTODIO_PW=P@rty0f8!
QUSTODIO_TOKEN=wlaIrsH0kBG3ZHbMadHdBh8DKbnDnH
QUSTODIO_ACCOUNT_UID=61672d9e46804349af49bd547bbb51a5
QUSTODIO_TIMEOUT_SECONDS=20
QUSTODIO_HEADLESS=true

LOG_LEVEL=INFO